body {
  font-family: 'Inter', sans-serif;
}

.portada h1 {
  font-size: 48px;
  /* Tamaño del título */
  line-height: 1.2;
  /* Espaciado entre líneas */

}

.portada p {
  font-size: 20px;
  /* Tamaño del texto */
  opacity: 0.75;
  /* Opacidad */
  
}

.portada {
  background-color: #f8f9fa;
  padding: 100px 0;
}

.features-section {
  padding: 50px 0;
}

.portada {
  position: relative;
  background-image: linear-gradient(54deg, rgba(255, 131, 122, 0.25), rgba(255, 131, 122, 0) 28%), linear-gradient(241deg, rgba(239, 152, 207, 0.25), rgba(239, 152, 207, 0) 36%);
  background-color: #f5f6f7;
}

.subscribe-section {
  background-color: #1d1d1d;
  background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
}

.contacto {
  position: relative;
  background-image: radial-gradient(circle farthest-corner at 0% 50% rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
  background-color: #1d1d1d;
}


.icon-search {
  padding-left: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>');
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-color: #f5f6f7;
}

h1,
h3 {
  font-weight: bold;
}

p {
  opacity: 0.75;
}

.my-card {
  transition: transform 0.2s ease-in-out;
}


.my-card:hover {
  transform: translateY(-4px);
}

.btn-custom {
  background-color: #495158; 
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #323131;
  
}
img.img-fluid {
  width: 65%; /* Cambiar el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantener la proporción para evitar distorsiones */
  
}
/* Estilos para el logo en pantallas medianas y grandes */
#logo {
  width: 200px; /* Tamaño grande del logo */
  height: auto; /* Mantener la proporción */
}

@media (max-width: 767px) {
  #logo {
      width: 250px; /* Tamaño más pequeño del logo para pantallas pequeñas */
  }
}

